@charset 'UTF-8';
:root{
    --primary: #5dc007;
    --textColor: #757575;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #757575;
}

body {
    font-family: sans-serif;
    background: #eeeeee url('/public/images/back.png');
    color: #323232;
    line-height: 1.5;
    position: relative;
}

aside#sidemenu ul li img{
    max-width: 64px;
}

li a, a {
    text-decoration: none;
}
