aside#sidemenu {
    background-color: #fff;
    max-width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
}

aside#sidemenu ul {
    -webkit-box-shadow: 18px 0px 20px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px 0px 20px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 18px 0px 20px -13px rgba(0, 0, 0, 0.75);
    border-radius: 0px 30px 30px 0px;
    background-color: #fff;
    z-index: 999;
    padding: 2vh;
    display: -webkit-flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
}

aside#sidemenu ul li {
    background-color: #fff;
    height: 20%;
    z-index: 999;
    display: -webkit-box;
    justify-content: center;
    -webkit-justify-content: -webkit-center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

nav {
    background-color: #a7403a;
    position: fixed;
    width: 100%;
    z-index: -999;
    padding: 10px;
    padding-left: 150px;
}

nav img.omeyLogo {
    display: none;
}

aside#sidemenu ul li {
    display: -webkit-box;
    justify-content: center;
    -webkit-justify-content: -webkit-center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

aside#sidemenu ul li a {
    display: table;
    text-align: center;
}

aside#sidemenu ul li img {
    margin-bottom: 2vh;
}

nav h1 {
    color: #fff;
}

ul .arrow {
    display: none;
}

#button-Exit {
    background: -webkit-gradient(linear, left top, left bottom, from(#5a5a5a), to(#242424)) 0 0;
    width: 100%;
    overflow: hidden;
}