/** hides exit button when offdevice view */
#button-Exit{
    display: none !important;
}

body{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}

aside#sidemenu{
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    background-color: white;
    width: 25%;
    height: fit-content;
    position: sticky;
    top: 15%;
}

aside#sidemenu nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
}
aside#sidemenu nav h1{
    display: none;
}
aside#sidemenu ul li {
    display: grid;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 15px;
    grid-template-columns: 10fr 2fr;
}
aside#sidemenu ul li a{
    display: grid;
    align-content: center;
    grid-template-columns: 2fr 8fr;
}

aside#sidemenu ul li a > *{
    align-self: center;
}
aside#sidemenu ul li a img {
    width: 24px;
}